.wrapper {
  margin: 0 auto;
  max-width: 750px;
  width: 85%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results {
  margin-bottom: 100px;
}
